<input type="text" [(ngModel)]="firstname">
<h1>{{firstname}}</h1>
<hr>
<input type="radio" name="gender" value="m" [(ngModel)]="gen">:male<br>
<input type="radio" name="gender" value="f" [(ngModel)]="gen">:female<br>
<input type="radio" name="gender" value="o" [(ngModel)]="gen">:other<br>
<h1>{{gen}}</h1>
<hr>
<input type="checkbox" value="Nodejs" (change)="updateTechs($event)">:nodejs<br>
<input type="checkbox" value="ExpressJS" (change)="updateTechs($event)">:express<br>
<input type="checkbox" value="Angular" (change)="updateTechs($event)">:Angular<br>
<input type="checkbox" value="React" (change)="updateTechs($event)">:React<br>
<h3>{{techs}}</h3>
<hr>
<select [(ngModel)]="selectedCountry">
  <option value="null" disabled selected>Please Select</option>
  <option value="india">india</option>
  <option value="srilanka">srilanka</option>
  <option value="pakistan">pakistan</option>
</select>
<h1>{{selectedCountry}}</h1>
<hr>
<input type="file" (change)="updateimg($event)">

<img [src]="myimg" alt="" width="100px">