<div class="border border-2 border-success p-2 m-2">
  <h1>App Component</h1>
  <mat-slide-toggle>Toggle me!</mat-slide-toggle>
  <app-navbar></app-navbar>
  <a routerLink="home" routerLinkActive="bg-danger text-light">Home</a>&nbsp;
  <a routerLink="aboutus" routerLinkActive="bg-danger text-light">Aboutus</a>&nbsp;
  <a routerLink="contactus" routerLinkActive="bg-danger text-light">Contactus</a>&nbsp;
  <a routerLink="edupolymap" routerLinkActive="bg-danger text-light">edupolymap</a>&nbsp;
  <a routerLink="countries">Countries</a>&nbsp;
  <a routerLink="products">Products</a>&nbsp;
  <router-outlet></router-outlet>
</div>